@mixin slide-in-left($time: 0.8s, $animation: ease-out) {
    animation: slideIn $time $animation forwards;
}

@keyframes slideIn {
    0% {
        left: -18%;
        opacity: 0;
    }

    100% {
        left: 50%;
        transform: translateX(-50%);
        opacity: 1;
    }
}

@mixin slide-in-top($time: 0.8s, $animation: ease-out) {
    animation: slideTop $time $animation forwards;
}

@keyframes slideTop {
    0% {
        transform: translateY(8%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}