@import "../../styles/mixins.scss";

.title__wrapper {
    border-top: 2px solid #767676;
    
    .title__name {
        position: relative;
        color: var(--secondary-color);
        font-size: 36px;
        font-weight: 700;
        text-align: center;
        padding: 34px 0;
        @include slide-in-left;
    }
}