.footer__wrapper {
    color: var(--primary-color);
    font-size: 16px;
    text-align: center;
    margin: 32px 0;

    span {
        font-weight: 600;
        color: var(--secondary-color);
    }

    .footer__copyright {
        font-size: 14px;
    }
}