.footer__wrapper {
    color: var(--primary-color);
    font-size: 16px;
    text-align: center;
    margin: 32px 0 50px;

    span {
        font-weight: 600;
    }

    .footer__copyright {
        font-size: 14px;
    }
}